<mat-dialog-content>
    <mat-list>{{houseExtraInfo.hasAirCondition}}</mat-list>
    <mat-list>{{houseExtraInfo.hasGym}}</mat-list>
    <mat-list>{{houseExtraInfo.hasKitchen}}</mat-list>
    <mat-list>{{houseExtraInfo.hasLaundry}}</mat-list>
    <mat-list>{{houseExtraInfo.hasSwimmingpool}}</mat-list>
    <mat-list>{{houseExtraInfo.hasTv}}</mat-list>
    <mat-list>{{houseExtraInfo.hasWifi}}</mat-list>
    <mat-list>{{houseExtraInfo.hasOwnProperty}}</mat-list>
    <mat-dialog-actions align="center">
        <button mat-raised-button color="accent" (click)="onClose()">Close</button>
    </mat-dialog-actions>
</mat-dialog-content>
