<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">房源信息录入(开发中)</h4>
            <p class="card-category"></p>
          </div>
          <div class="card-body">
            <form [formGroup]="this.form">
              <div class="row">
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="landlordId" formControlName="landlordId" class="form-control" id="landlord">
                  </mat-form-field>
                  <div *ngIf="landlordId.invalid && (landlordId.dirty || landlordId.touched)">
                    <div *ngIf="landlordId.errors.required">
                      <label>Please make sure landlord ID existed.</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="residentId" formControlName="residentId" class="form-control" id="resident">
                  </mat-form-field>
                  <div *ngIf="residentId.invalid && (residentId.dirty || residentId.touched)">
                    <div *ngIf="residentId.errors.required">
                      <label>Please make sure resident ID existed.</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{houseHeader.city}}" formControlName="city" class="form-control" id="city">
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{houseHeader.province}}" formControlName="province" class="form-control" id="province">
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{houseHeader.address}}" formControlName="address" class="form-control" id="address">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{houseHeader.totalRooms}}" formControlName="totalRooms" class="form-control">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="{{houseHeader.houseType}}" formControlName="houseType" class="form-control">
                      <mat-option value="{{type}}" *ngFor="let type of houseTypeSelection">
                        {{type}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width" >
                    <input matInput placeholder="{{houseHeader.postCode}}" formControlName="postCode" class="form-control">
                  </mat-form-field >
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nearest {{houseHeader.intersection}}" formControlName="intersection" class="form-control">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <textarea mat-autosize rows="5" matInput placeholder="Put your {{houseHeader.desc}} here." formControlName="desc" class="form-control"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <fieldset formGroupName="houseExtraInfo">
                <div class="row">
                  <div class="col-md-12">
                    <mat-label>Extra House Info</mat-label>
                    <mat-divider></mat-divider>
                    <mat-selection-list #extraInfoList (selectionChange)="onGroupsChange(extraInfoList.selectedOptions.selected)">
                      <mat-list-option *ngFor="let extraInfo of extraInfoHeader" value="{{extraInfo}}">{{extraInfo}}</mat-list-option>
                    </mat-selection-list>
                  </div>
                </div>
              </fieldset>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="! form.valid" (click)="onSubmit()">Upload Profile</button>
              <div class="clearfix"> </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
